@media only screen and (max-width: 1550px) {
  .navbar {
    width: 95%;
    margin: auto; }

  .hero-text, .hero-brands, .hero-para, .hero-button, .work, .approuch-section, .articles-section, .footer-info, .footer-links {
    width: 95%; } }
@media only screen and (max-width: 1450px) {
  .hero-section .hero-brands ul li img {
    width: 340px;
    height: 140px; } }
@media only screen and (max-width: 1400px) {
  .navbar {
    width: 95%;
    margin: auto; }

  .hero-section .hero-text h1 {
    font-size: 65px;
    padding-right: 100px; }
  .hero-section .hero-brands ul li img {
    width: 320px;
    height: 120px; }
  .hero-section .hero-para p {
    font-size: 50px; }

  .work p {
    font-size: 35px; }
  .work .thoughtspot-section {
    margin-left: 250px; }
    .work .thoughtspot-section .thoughtspot-info p {
      width: 800px; }
  .work .eone-section .eone-info h4, .work .eone-section .thoughtspot-info h4, .work .thoughtspot-section .eone-info h4, .work .thoughtspot-section .thoughtspot-info h4 {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px; }
  .work .eone-section .eone-info p, .work .eone-section .thoughtspot-info p, .work .thoughtspot-section .eone-info p, .work .thoughtspot-section .thoughtspot-info p {
    font-size: 25px;
    margin-bottom: 10px; }
  .work .eone-section .eone-info .buttons ul li, .work .eone-section .thoughtspot-info .buttons ul li, .work .thoughtspot-section .eone-info .buttons ul li, .work .thoughtspot-section .thoughtspot-info .buttons ul li {
    margin-right: 10px; }
    .work .eone-section .eone-info .buttons ul li a, .work .eone-section .thoughtspot-info .buttons ul li a, .work .thoughtspot-section .eone-info .buttons ul li a, .work .thoughtspot-section .thoughtspot-info .buttons ul li a {
      font-size: 16px;
      padding: 5px;
      padding-left: 8px;
      padding-right: 8px; }
  .work .dual-section-1 .pilot-section .pilot-info h4, .work .dual-section-1 .pilot-section .enode-info h4, .work .dual-section-1 .pilot-section .creatd-info h4, .work .dual-section-1 .pilot-section .crisp-info h4, .work .dual-section-1 .enode-section .pilot-info h4, .work .dual-section-1 .enode-section .enode-info h4, .work .dual-section-1 .enode-section .creatd-info h4, .work .dual-section-1 .enode-section .crisp-info h4, .work .dual-section-1 .creatd-section .pilot-info h4, .work .dual-section-1 .creatd-section .enode-info h4, .work .dual-section-1 .creatd-section .creatd-info h4, .work .dual-section-1 .creatd-section .crisp-info h4, .work .dual-section-1 .crisp-section .pilot-info h4, .work .dual-section-1 .crisp-section .enode-info h4, .work .dual-section-1 .crisp-section .creatd-info h4, .work .dual-section-1 .crisp-section .crisp-info h4, .work .dual-section-2 .pilot-section .pilot-info h4, .work .dual-section-2 .pilot-section .enode-info h4, .work .dual-section-2 .pilot-section .creatd-info h4, .work .dual-section-2 .pilot-section .crisp-info h4, .work .dual-section-2 .enode-section .pilot-info h4, .work .dual-section-2 .enode-section .enode-info h4, .work .dual-section-2 .enode-section .creatd-info h4, .work .dual-section-2 .enode-section .crisp-info h4, .work .dual-section-2 .creatd-section .pilot-info h4, .work .dual-section-2 .creatd-section .enode-info h4, .work .dual-section-2 .creatd-section .creatd-info h4, .work .dual-section-2 .creatd-section .crisp-info h4, .work .dual-section-2 .crisp-section .pilot-info h4, .work .dual-section-2 .crisp-section .enode-info h4, .work .dual-section-2 .crisp-section .creatd-info h4, .work .dual-section-2 .crisp-section .crisp-info h4 {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px; }
  .work .dual-section-1 .pilot-section .pilot-info p, .work .dual-section-1 .pilot-section .enode-info p, .work .dual-section-1 .pilot-section .creatd-info p, .work .dual-section-1 .pilot-section .crisp-info p, .work .dual-section-1 .enode-section .pilot-info p, .work .dual-section-1 .enode-section .enode-info p, .work .dual-section-1 .enode-section .creatd-info p, .work .dual-section-1 .enode-section .crisp-info p, .work .dual-section-1 .creatd-section .pilot-info p, .work .dual-section-1 .creatd-section .enode-info p, .work .dual-section-1 .creatd-section .creatd-info p, .work .dual-section-1 .creatd-section .crisp-info p, .work .dual-section-1 .crisp-section .pilot-info p, .work .dual-section-1 .crisp-section .enode-info p, .work .dual-section-1 .crisp-section .creatd-info p, .work .dual-section-1 .crisp-section .crisp-info p, .work .dual-section-2 .pilot-section .pilot-info p, .work .dual-section-2 .pilot-section .enode-info p, .work .dual-section-2 .pilot-section .creatd-info p, .work .dual-section-2 .pilot-section .crisp-info p, .work .dual-section-2 .enode-section .pilot-info p, .work .dual-section-2 .enode-section .enode-info p, .work .dual-section-2 .enode-section .creatd-info p, .work .dual-section-2 .enode-section .crisp-info p, .work .dual-section-2 .creatd-section .pilot-info p, .work .dual-section-2 .creatd-section .enode-info p, .work .dual-section-2 .creatd-section .creatd-info p, .work .dual-section-2 .creatd-section .crisp-info p, .work .dual-section-2 .crisp-section .pilot-info p, .work .dual-section-2 .crisp-section .enode-info p, .work .dual-section-2 .crisp-section .creatd-info p, .work .dual-section-2 .crisp-section .crisp-info p {
    font-size: 25px;
    margin-bottom: 10px; }
  .work .dual-section-1 .pilot-section .pilot-info .buttons ul li, .work .dual-section-1 .pilot-section .enode-info .buttons ul li, .work .dual-section-1 .pilot-section .creatd-info .buttons ul li, .work .dual-section-1 .pilot-section .crisp-info .buttons ul li, .work .dual-section-1 .enode-section .pilot-info .buttons ul li, .work .dual-section-1 .enode-section .enode-info .buttons ul li, .work .dual-section-1 .enode-section .creatd-info .buttons ul li, .work .dual-section-1 .enode-section .crisp-info .buttons ul li, .work .dual-section-1 .creatd-section .pilot-info .buttons ul li, .work .dual-section-1 .creatd-section .enode-info .buttons ul li, .work .dual-section-1 .creatd-section .creatd-info .buttons ul li, .work .dual-section-1 .creatd-section .crisp-info .buttons ul li, .work .dual-section-1 .crisp-section .pilot-info .buttons ul li, .work .dual-section-1 .crisp-section .enode-info .buttons ul li, .work .dual-section-1 .crisp-section .creatd-info .buttons ul li, .work .dual-section-1 .crisp-section .crisp-info .buttons ul li, .work .dual-section-2 .pilot-section .pilot-info .buttons ul li, .work .dual-section-2 .pilot-section .enode-info .buttons ul li, .work .dual-section-2 .pilot-section .creatd-info .buttons ul li, .work .dual-section-2 .pilot-section .crisp-info .buttons ul li, .work .dual-section-2 .enode-section .pilot-info .buttons ul li, .work .dual-section-2 .enode-section .enode-info .buttons ul li, .work .dual-section-2 .enode-section .creatd-info .buttons ul li, .work .dual-section-2 .enode-section .crisp-info .buttons ul li, .work .dual-section-2 .creatd-section .pilot-info .buttons ul li, .work .dual-section-2 .creatd-section .enode-info .buttons ul li, .work .dual-section-2 .creatd-section .creatd-info .buttons ul li, .work .dual-section-2 .creatd-section .crisp-info .buttons ul li, .work .dual-section-2 .crisp-section .pilot-info .buttons ul li, .work .dual-section-2 .crisp-section .enode-info .buttons ul li, .work .dual-section-2 .crisp-section .creatd-info .buttons ul li, .work .dual-section-2 .crisp-section .crisp-info .buttons ul li {
    margin-right: 10px; }
    .work .dual-section-1 .pilot-section .pilot-info .buttons ul li a, .work .dual-section-1 .pilot-section .enode-info .buttons ul li a, .work .dual-section-1 .pilot-section .creatd-info .buttons ul li a, .work .dual-section-1 .pilot-section .crisp-info .buttons ul li a, .work .dual-section-1 .enode-section .pilot-info .buttons ul li a, .work .dual-section-1 .enode-section .enode-info .buttons ul li a, .work .dual-section-1 .enode-section .creatd-info .buttons ul li a, .work .dual-section-1 .enode-section .crisp-info .buttons ul li a, .work .dual-section-1 .creatd-section .pilot-info .buttons ul li a, .work .dual-section-1 .creatd-section .enode-info .buttons ul li a, .work .dual-section-1 .creatd-section .creatd-info .buttons ul li a, .work .dual-section-1 .creatd-section .crisp-info .buttons ul li a, .work .dual-section-1 .crisp-section .pilot-info .buttons ul li a, .work .dual-section-1 .crisp-section .enode-info .buttons ul li a, .work .dual-section-1 .crisp-section .creatd-info .buttons ul li a, .work .dual-section-1 .crisp-section .crisp-info .buttons ul li a, .work .dual-section-2 .pilot-section .pilot-info .buttons ul li a, .work .dual-section-2 .pilot-section .enode-info .buttons ul li a, .work .dual-section-2 .pilot-section .creatd-info .buttons ul li a, .work .dual-section-2 .pilot-section .crisp-info .buttons ul li a, .work .dual-section-2 .enode-section .pilot-info .buttons ul li a, .work .dual-section-2 .enode-section .enode-info .buttons ul li a, .work .dual-section-2 .enode-section .creatd-info .buttons ul li a, .work .dual-section-2 .enode-section .crisp-info .buttons ul li a, .work .dual-section-2 .creatd-section .pilot-info .buttons ul li a, .work .dual-section-2 .creatd-section .enode-info .buttons ul li a, .work .dual-section-2 .creatd-section .creatd-info .buttons ul li a, .work .dual-section-2 .creatd-section .crisp-info .buttons ul li a, .work .dual-section-2 .crisp-section .pilot-info .buttons ul li a, .work .dual-section-2 .crisp-section .enode-info .buttons ul li a, .work .dual-section-2 .crisp-section .creatd-info .buttons ul li a, .work .dual-section-2 .crisp-section .crisp-info .buttons ul li a {
      font-size: 16px;
      padding: 5px;
      padding-left: 8px;
      padding-right: 8px; }

  .approuch-article-parrent .approuch-section h2 {
    font-size: 40px; }
  .approuch-article-parrent .approuch-section p {
    font-size: 70px; }
  .approuch-article-parrent .approuch-section .approuch-video-info .approuch-info p {
    font-size: 20px;
    line-height: 30px;
    max-width: 90%; }
  .approuch-article-parrent .approuch-section .approuch-video-info .approuch-info .approuch-button h2 {
    background-color: white;
    color: black;
    font-size: 28px;
    height: 80px;
    width: 250px;
    padding: 22px 22px 22px 22px; }
  .approuch-article-parrent .articles-section h1 {
    font-size: 65px; }
  .approuch-article-parrent .articles-section p {
    font-size: 35px; }
  .approuch-article-parrent .articles-section ul .Design img {
    width: 400px; }
  .approuch-article-parrent .articles-section ul .Design p {
    font-size: 35px; }
  .approuch-article-parrent .articles-section ul .ux-strategy p, .approuch-article-parrent .articles-section ul .value-services p {
    font-size: 35px; }

  .footer-info h2 {
    font-size: 38px; }
  .footer-info p {
    font-size: 60px; } }
@media only screen and (max-width: 1250px) {
  .navbar .right-navbar ul li a {
    font-size: 23px;
    margin-left: 20px; } }
@media only screen and (max-width: 1100px) {
  .navbar .left-navbar h1 {
    font-size: 28px; }
  .navbar .right-navbar ul li a {
    font-size: 19px; }
  .navbar .right-navbar ul li .navbar-button {
    font-size: 16px;
    padding: 14px 15px; }

  .hero-section .hero-text h1 {
    font-size: 45px;
    padding-right: 50px; }
  .hero-section .hero-brands ul {
    flex-wrap: wrap; }
    .hero-section .hero-brands ul li img {
      width: 320px;
      height: 120px; }
  .hero-section .hero-para p {
    font-size: 40px; }

  .work p {
    font-size: 28px;
    line-height: 38px;
    margin-right: 50px; }
  .work .work-button h2 {
    font-size: 28px;
    height: 90px;
    width: 280px;
    padding-top: 25px; }
  .work .thoughtspot-section {
    margin-left: 180px; }
    .work .thoughtspot-section .thoughtspot-info p {
      width: 600px; }
  .work .eone-section .eone-info .buttons, .work .eone-section .thoughtspot-info .buttons, .work .thoughtspot-section .eone-info .buttons, .work .thoughtspot-section .thoughtspot-info .buttons {
    padding-bottom: 150px; }
    .work .eone-section .eone-info .buttons ul, .work .eone-section .thoughtspot-info .buttons ul, .work .thoughtspot-section .eone-info .buttons ul, .work .thoughtspot-section .thoughtspot-info .buttons ul {
      flex-wrap: wrap;
      gap: 20px; }
      .work .eone-section .eone-info .buttons ul li, .work .eone-section .thoughtspot-info .buttons ul li, .work .thoughtspot-section .eone-info .buttons ul li, .work .thoughtspot-section .thoughtspot-info .buttons ul li {
        margin-right: 00px; }
  .work .dual-section-1, .work .dual-section-2 {
    gap: 50px; }
    .work .dual-section-1 .pilot-section .pilot-info .buttons, .work .dual-section-1 .pilot-section .enode-info .buttons, .work .dual-section-1 .pilot-section .creatd-info .buttons, .work .dual-section-1 .pilot-section .crisp-info .buttons, .work .dual-section-1 .enode-section .pilot-info .buttons, .work .dual-section-1 .enode-section .enode-info .buttons, .work .dual-section-1 .enode-section .creatd-info .buttons, .work .dual-section-1 .enode-section .crisp-info .buttons, .work .dual-section-1 .creatd-section .pilot-info .buttons, .work .dual-section-1 .creatd-section .enode-info .buttons, .work .dual-section-1 .creatd-section .creatd-info .buttons, .work .dual-section-1 .creatd-section .crisp-info .buttons, .work .dual-section-1 .crisp-section .pilot-info .buttons, .work .dual-section-1 .crisp-section .enode-info .buttons, .work .dual-section-1 .crisp-section .creatd-info .buttons, .work .dual-section-1 .crisp-section .crisp-info .buttons, .work .dual-section-2 .pilot-section .pilot-info .buttons, .work .dual-section-2 .pilot-section .enode-info .buttons, .work .dual-section-2 .pilot-section .creatd-info .buttons, .work .dual-section-2 .pilot-section .crisp-info .buttons, .work .dual-section-2 .enode-section .pilot-info .buttons, .work .dual-section-2 .enode-section .enode-info .buttons, .work .dual-section-2 .enode-section .creatd-info .buttons, .work .dual-section-2 .enode-section .crisp-info .buttons, .work .dual-section-2 .creatd-section .pilot-info .buttons, .work .dual-section-2 .creatd-section .enode-info .buttons, .work .dual-section-2 .creatd-section .creatd-info .buttons, .work .dual-section-2 .creatd-section .crisp-info .buttons, .work .dual-section-2 .crisp-section .pilot-info .buttons, .work .dual-section-2 .crisp-section .enode-info .buttons, .work .dual-section-2 .crisp-section .creatd-info .buttons, .work .dual-section-2 .crisp-section .crisp-info .buttons {
      padding-bottom: 150px; }
      .work .dual-section-1 .pilot-section .pilot-info .buttons ul, .work .dual-section-1 .pilot-section .enode-info .buttons ul, .work .dual-section-1 .pilot-section .creatd-info .buttons ul, .work .dual-section-1 .pilot-section .crisp-info .buttons ul, .work .dual-section-1 .enode-section .pilot-info .buttons ul, .work .dual-section-1 .enode-section .enode-info .buttons ul, .work .dual-section-1 .enode-section .creatd-info .buttons ul, .work .dual-section-1 .enode-section .crisp-info .buttons ul, .work .dual-section-1 .creatd-section .pilot-info .buttons ul, .work .dual-section-1 .creatd-section .enode-info .buttons ul, .work .dual-section-1 .creatd-section .creatd-info .buttons ul, .work .dual-section-1 .creatd-section .crisp-info .buttons ul, .work .dual-section-1 .crisp-section .pilot-info .buttons ul, .work .dual-section-1 .crisp-section .enode-info .buttons ul, .work .dual-section-1 .crisp-section .creatd-info .buttons ul, .work .dual-section-1 .crisp-section .crisp-info .buttons ul, .work .dual-section-2 .pilot-section .pilot-info .buttons ul, .work .dual-section-2 .pilot-section .enode-info .buttons ul, .work .dual-section-2 .pilot-section .creatd-info .buttons ul, .work .dual-section-2 .pilot-section .crisp-info .buttons ul, .work .dual-section-2 .enode-section .pilot-info .buttons ul, .work .dual-section-2 .enode-section .enode-info .buttons ul, .work .dual-section-2 .enode-section .creatd-info .buttons ul, .work .dual-section-2 .enode-section .crisp-info .buttons ul, .work .dual-section-2 .creatd-section .pilot-info .buttons ul, .work .dual-section-2 .creatd-section .enode-info .buttons ul, .work .dual-section-2 .creatd-section .creatd-info .buttons ul, .work .dual-section-2 .creatd-section .crisp-info .buttons ul, .work .dual-section-2 .crisp-section .pilot-info .buttons ul, .work .dual-section-2 .crisp-section .enode-info .buttons ul, .work .dual-section-2 .crisp-section .creatd-info .buttons ul, .work .dual-section-2 .crisp-section .crisp-info .buttons ul {
        flex-wrap: wrap;
        gap: 20px; }
        .work .dual-section-1 .pilot-section .pilot-info .buttons ul li, .work .dual-section-1 .pilot-section .enode-info .buttons ul li, .work .dual-section-1 .pilot-section .creatd-info .buttons ul li, .work .dual-section-1 .pilot-section .crisp-info .buttons ul li, .work .dual-section-1 .enode-section .pilot-info .buttons ul li, .work .dual-section-1 .enode-section .enode-info .buttons ul li, .work .dual-section-1 .enode-section .creatd-info .buttons ul li, .work .dual-section-1 .enode-section .crisp-info .buttons ul li, .work .dual-section-1 .creatd-section .pilot-info .buttons ul li, .work .dual-section-1 .creatd-section .enode-info .buttons ul li, .work .dual-section-1 .creatd-section .creatd-info .buttons ul li, .work .dual-section-1 .creatd-section .crisp-info .buttons ul li, .work .dual-section-1 .crisp-section .pilot-info .buttons ul li, .work .dual-section-1 .crisp-section .enode-info .buttons ul li, .work .dual-section-1 .crisp-section .creatd-info .buttons ul li, .work .dual-section-1 .crisp-section .crisp-info .buttons ul li, .work .dual-section-2 .pilot-section .pilot-info .buttons ul li, .work .dual-section-2 .pilot-section .enode-info .buttons ul li, .work .dual-section-2 .pilot-section .creatd-info .buttons ul li, .work .dual-section-2 .pilot-section .crisp-info .buttons ul li, .work .dual-section-2 .enode-section .pilot-info .buttons ul li, .work .dual-section-2 .enode-section .enode-info .buttons ul li, .work .dual-section-2 .enode-section .creatd-info .buttons ul li, .work .dual-section-2 .enode-section .crisp-info .buttons ul li, .work .dual-section-2 .creatd-section .pilot-info .buttons ul li, .work .dual-section-2 .creatd-section .enode-info .buttons ul li, .work .dual-section-2 .creatd-section .creatd-info .buttons ul li, .work .dual-section-2 .creatd-section .crisp-info .buttons ul li, .work .dual-section-2 .crisp-section .pilot-info .buttons ul li, .work .dual-section-2 .crisp-section .enode-info .buttons ul li, .work .dual-section-2 .crisp-section .creatd-info .buttons ul li, .work .dual-section-2 .crisp-section .crisp-info .buttons ul li {
          margin-right: 0px; }

  .approuch-article-parrent .approuch-section h2 {
    font-size: 35px; }
  .approuch-article-parrent .approuch-section p {
    font-size: 70px; }
  .approuch-article-parrent .approuch-section .approuch-video-info .approuch-info p {
    font-size: 20px;
    line-height: 30px;
    max-width: 90%; }
  .approuch-article-parrent .approuch-section .approuch-video-info .approuch-info .approuch-button h2 {
    background-color: white;
    color: black;
    font-size: 28px;
    height: 80px;
    width: 250px;
    padding: 22px 22px 22px 22px; }
  .approuch-article-parrent .articles-section h1 {
    font-size: 50px; }
  .approuch-article-parrent .articles-section p {
    font-size: 35px; }
  .approuch-article-parrent .articles-section .article-button h2 {
    font-size: 28px;
    height: 80px;
    width: 250px;
    padding: 22px 22px 22px 22px; }
  .approuch-article-parrent .articles-section ul {
    flex-wrap: wrap; }
    .approuch-article-parrent .articles-section ul .Design {
      padding: 100px;
      padding-bottom: 0px; }
      .approuch-article-parrent .articles-section ul .Design img {
        width: 100%; }
    .approuch-article-parrent .articles-section ul .ux-strategy, .approuch-article-parrent .articles-section ul .value-services {
      padding: 100px;
      padding-bottom: 0px; }

  .footer-links {
    display: inline; }
    .footer-links .footer-logo-section {
      padding: 50px;
      padding-top: 200px; }
    .footer-links .footer-links-section {
      padding: 50px;
      gap: 100px; }

  .credits {
    padding-left: 50px; } }
@media only screen and (max-width: 900px) {
  .navbar .left-navbar h1 {
    font-size: 25px; }
  .navbar .right-navbar ul {
    display: none; }
  .navbar .right-navbar a .ri-menu-4-line {
    display: block; }

  .approuch-article-parrent .approuch-section h2 {
    font-size: 35px; }
  .approuch-article-parrent .approuch-section p {
    font-size: 50px; }
  .approuch-article-parrent .approuch-section .approuch-video-info {
    flex-wrap: wrap; }
    .approuch-article-parrent .approuch-section .approuch-video-info video {
      width: 90%;
      margin: auto; }
    .approuch-article-parrent .approuch-section .approuch-video-info .approuch-info p {
      font-size: 20px;
      line-height: 30px;
      max-width: 90%; }
    .approuch-article-parrent .approuch-section .approuch-video-info .approuch-info .approuch-button h2 {
      background-color: white;
      color: black;
      font-size: 28px;
      height: 80px;
      width: 250px;
      padding: 22px 22px 22px 22px; } }
@media only screen and (max-width: 700px) {
  .navbar .left-navbar h1 {
    font-size: 22px; }

  .hero-section .hero-text {
    padding-top: 50px; }
    .hero-section .hero-text h1 {
      font-size: 40px;
      padding-right: 0;
      padding-left: 20px; }
  .hero-section .hero-brands {
    padding: 50px 0px; }
    .hero-section .hero-brands ul li img {
      width: 260px;
      height: 120px; }
  .hero-section .hero-para p {
    font-size: 28px; }
  .hero-section .hero-button {
    padding-bottom: 100px; }
    .hero-section .hero-button h2 {
      font-size: 22px;
      height: 80px;
      width: 250px;
      padding-top: 25px; }

  .work h3 {
    font-size: 28px;
    padding-left: 20px;
    padding-bottom: 60px; }
  .work p {
    font-size: 26px;
    padding-left: 20px;
    padding-top: 50px; }
  .work .work-button {
    padding-left: 20px;
    padding-bottom: 100px; }
    .work .work-button h2 {
      font-size: 18px;
      height: 80px;
      width: 210px; }
  .work .thoughtspot-section {
    margin-left: 0px; }
  .work .eone-section, .work .thoughtspot-section {
    width: 100%;
    padding: 20px; }
    .work .eone-section .eone-info h4, .work .eone-section .thoughtspot-info h4, .work .thoughtspot-section .eone-info h4, .work .thoughtspot-section .thoughtspot-info h4 {
      margin-bottom: 10px; }
    .work .eone-section .eone-info p, .work .eone-section .thoughtspot-info p, .work .thoughtspot-section .eone-info p, .work .thoughtspot-section .thoughtspot-info p {
      padding: 10px 0px;
      padding-bottom: 10px;
      font-size: 18px;
      line-height: 22px; }
    .work .eone-section .eone-info .buttons, .work .eone-section .thoughtspot-info .buttons, .work .thoughtspot-section .eone-info .buttons, .work .thoughtspot-section .thoughtspot-info .buttons {
      padding-bottom: 50px; }
  .work .dual-section-1, .work .dual-section-2 {
    gap: 50px;
    display: inline; }
    .work .dual-section-1 .pilot-section, .work .dual-section-1 .enode-section, .work .dual-section-1 .creatd-section, .work .dual-section-1 .crisp-section, .work .dual-section-2 .pilot-section, .work .dual-section-2 .enode-section, .work .dual-section-2 .creatd-section, .work .dual-section-2 .crisp-section {
      width: 100%;
      padding: 20px; }
      .work .dual-section-1 .pilot-section .pilot-info h4, .work .dual-section-1 .pilot-section .enode-info h4, .work .dual-section-1 .pilot-section .creatd-info h4, .work .dual-section-1 .pilot-section .crisp-info h4, .work .dual-section-1 .enode-section .pilot-info h4, .work .dual-section-1 .enode-section .enode-info h4, .work .dual-section-1 .enode-section .creatd-info h4, .work .dual-section-1 .enode-section .crisp-info h4, .work .dual-section-1 .creatd-section .pilot-info h4, .work .dual-section-1 .creatd-section .enode-info h4, .work .dual-section-1 .creatd-section .creatd-info h4, .work .dual-section-1 .creatd-section .crisp-info h4, .work .dual-section-1 .crisp-section .pilot-info h4, .work .dual-section-1 .crisp-section .enode-info h4, .work .dual-section-1 .crisp-section .creatd-info h4, .work .dual-section-1 .crisp-section .crisp-info h4, .work .dual-section-2 .pilot-section .pilot-info h4, .work .dual-section-2 .pilot-section .enode-info h4, .work .dual-section-2 .pilot-section .creatd-info h4, .work .dual-section-2 .pilot-section .crisp-info h4, .work .dual-section-2 .enode-section .pilot-info h4, .work .dual-section-2 .enode-section .enode-info h4, .work .dual-section-2 .enode-section .creatd-info h4, .work .dual-section-2 .enode-section .crisp-info h4, .work .dual-section-2 .creatd-section .pilot-info h4, .work .dual-section-2 .creatd-section .enode-info h4, .work .dual-section-2 .creatd-section .creatd-info h4, .work .dual-section-2 .creatd-section .crisp-info h4, .work .dual-section-2 .crisp-section .pilot-info h4, .work .dual-section-2 .crisp-section .enode-info h4, .work .dual-section-2 .crisp-section .creatd-info h4, .work .dual-section-2 .crisp-section .crisp-info h4 {
        margin-bottom: 10px; }
      .work .dual-section-1 .pilot-section .pilot-info p, .work .dual-section-1 .pilot-section .enode-info p, .work .dual-section-1 .pilot-section .creatd-info p, .work .dual-section-1 .pilot-section .crisp-info p, .work .dual-section-1 .enode-section .pilot-info p, .work .dual-section-1 .enode-section .enode-info p, .work .dual-section-1 .enode-section .creatd-info p, .work .dual-section-1 .enode-section .crisp-info p, .work .dual-section-1 .creatd-section .pilot-info p, .work .dual-section-1 .creatd-section .enode-info p, .work .dual-section-1 .creatd-section .creatd-info p, .work .dual-section-1 .creatd-section .crisp-info p, .work .dual-section-1 .crisp-section .pilot-info p, .work .dual-section-1 .crisp-section .enode-info p, .work .dual-section-1 .crisp-section .creatd-info p, .work .dual-section-1 .crisp-section .crisp-info p, .work .dual-section-2 .pilot-section .pilot-info p, .work .dual-section-2 .pilot-section .enode-info p, .work .dual-section-2 .pilot-section .creatd-info p, .work .dual-section-2 .pilot-section .crisp-info p, .work .dual-section-2 .enode-section .pilot-info p, .work .dual-section-2 .enode-section .enode-info p, .work .dual-section-2 .enode-section .creatd-info p, .work .dual-section-2 .enode-section .crisp-info p, .work .dual-section-2 .creatd-section .pilot-info p, .work .dual-section-2 .creatd-section .enode-info p, .work .dual-section-2 .creatd-section .creatd-info p, .work .dual-section-2 .creatd-section .crisp-info p, .work .dual-section-2 .crisp-section .pilot-info p, .work .dual-section-2 .crisp-section .enode-info p, .work .dual-section-2 .crisp-section .creatd-info p, .work .dual-section-2 .crisp-section .crisp-info p {
        padding: 10px 0px;
        padding-bottom: 10px;
        font-size: 18px;
        line-height: 22px; }
      .work .dual-section-1 .pilot-section .pilot-info .buttons, .work .dual-section-1 .pilot-section .enode-info .buttons, .work .dual-section-1 .pilot-section .creatd-info .buttons, .work .dual-section-1 .pilot-section .crisp-info .buttons, .work .dual-section-1 .enode-section .pilot-info .buttons, .work .dual-section-1 .enode-section .enode-info .buttons, .work .dual-section-1 .enode-section .creatd-info .buttons, .work .dual-section-1 .enode-section .crisp-info .buttons, .work .dual-section-1 .creatd-section .pilot-info .buttons, .work .dual-section-1 .creatd-section .enode-info .buttons, .work .dual-section-1 .creatd-section .creatd-info .buttons, .work .dual-section-1 .creatd-section .crisp-info .buttons, .work .dual-section-1 .crisp-section .pilot-info .buttons, .work .dual-section-1 .crisp-section .enode-info .buttons, .work .dual-section-1 .crisp-section .creatd-info .buttons, .work .dual-section-1 .crisp-section .crisp-info .buttons, .work .dual-section-2 .pilot-section .pilot-info .buttons, .work .dual-section-2 .pilot-section .enode-info .buttons, .work .dual-section-2 .pilot-section .creatd-info .buttons, .work .dual-section-2 .pilot-section .crisp-info .buttons, .work .dual-section-2 .enode-section .pilot-info .buttons, .work .dual-section-2 .enode-section .enode-info .buttons, .work .dual-section-2 .enode-section .creatd-info .buttons, .work .dual-section-2 .enode-section .crisp-info .buttons, .work .dual-section-2 .creatd-section .pilot-info .buttons, .work .dual-section-2 .creatd-section .enode-info .buttons, .work .dual-section-2 .creatd-section .creatd-info .buttons, .work .dual-section-2 .creatd-section .crisp-info .buttons, .work .dual-section-2 .crisp-section .pilot-info .buttons, .work .dual-section-2 .crisp-section .enode-info .buttons, .work .dual-section-2 .crisp-section .creatd-info .buttons, .work .dual-section-2 .crisp-section .crisp-info .buttons {
        padding-bottom: 50px; }

  .approuch-article-parrent .approuch-section h2 {
    font-size: 30px; }
  .approuch-article-parrent .approuch-section p {
    font-size: 45px; }
  .approuch-article-parrent .approuch-section .approuch-video-info {
    gap: 20px;
    padding-top: 100px;
    padding-bottom: 100px; }
    .approuch-article-parrent .approuch-section .approuch-video-info .approuch-info .approuch-button {
      margin-left: 20px;
      margin-top: 40px; }
      .approuch-article-parrent .approuch-section .approuch-video-info .approuch-info .approuch-button h2 {
        font-size: 18px;
        height: 65px;
        width: 210px; }
  .approuch-article-parrent .articles-section h1 {
    font-size: 40px;
    padding-left: 20px;
    padding-bottom: 50px; }
  .approuch-article-parrent .articles-section p {
    font-size: 26px;
    padding-top: 60px;
    line-height: 30px;
    padding-left: 20px;
    padding-bottom: 50px; }
  .approuch-article-parrent .articles-section .article-button {
    padding-bottom: 100px; }
  .approuch-article-parrent .articles-section ul {
    flex-wrap: wrap; }
    .approuch-article-parrent .articles-section ul .Design {
      padding: 30px;
      padding-bottom: 0px; }
      .approuch-article-parrent .articles-section ul .Design h5 {
        margin-bottom: 20px; }
      .approuch-article-parrent .articles-section ul .Design p {
        font-size: 18px;
        padding-left: 0; }
      .approuch-article-parrent .articles-section ul .Design .sdv-button {
        margin-top: 20px;
        margin-left: 0; }
    .approuch-article-parrent .articles-section ul .ux-strategy, .approuch-article-parrent .articles-section ul .value-services {
      padding: 30px;
      padding-bottom: 0px; }
      .approuch-article-parrent .articles-section ul .ux-strategy h5, .approuch-article-parrent .articles-section ul .value-services h5 {
        margin-bottom: 20px; }
      .approuch-article-parrent .articles-section ul .ux-strategy p, .approuch-article-parrent .articles-section ul .value-services p {
        font-size: 18px;
        padding-left: 0; }
      .approuch-article-parrent .articles-section ul .ux-strategy .sdv-button, .approuch-article-parrent .articles-section ul .value-services .sdv-button {
        margin-top: 20px;
        margin-left: 0; }

  .footer .footer-info h2 {
    font-size: 26px; }
  .footer .footer-info p {
    font-size: 42px; }
  .footer .footer-info .footer-button h2 {
    font-size: 22px;
    height: 80px;
    width: 250px;
    padding-top: 25px; }

  .footer-links {
    flex-direction: column;
    padding-bottom: 100px;
    padding-top: 150px; }
    .footer-links .footer-logo-section {
      padding-top: 150px;
      padding-bottom: 0; }
      .footer-links .footer-logo-section h1 {
        font-size: 30px;
        margin-bottom: 20px; }
      .footer-links .footer-logo-section span {
        font-size: 34px; }
    .footer-links .footer-links-section {
      flex-direction: column;
      gap: 35px; }
      .footer-links .footer-links-section ul li {
        margin-bottom: 10px; }
        .footer-links .footer-links-section ul li a {
          font-size: 18px; } }
@media only screen and (max-width: 570px) {
  .hero-section .hero-brands {
    padding: 50px 0px; }
    .hero-section .hero-brands ul {
      justify-content: center; }
      .hero-section .hero-brands ul li img {
        width: 180px; } }
@media only screen and (max-width: 400px) {
  .navbar {
    height: 130px; }

  .hero-section .hero-text {
    padding-top: 30px; }
    .hero-section .hero-text h1 {
      font-size: 26px;
      padding-left: 10px; }
  .hero-section .hero-brands ul li img {
    width: 120px; }
  .hero-section .hero-para p {
    font-size: 20px; }
  .hero-section .hero-button {
    padding-bottom: 80px; }
    .hero-section .hero-button h2 {
      font-size: 14px;
      height: 50px;
      width: 180px;
      padding-top: 15px; }

  .work h3 {
    font-size: 22px;
    padding-bottom: 20px;
    padding-top: 60px; }
  .work p {
    font-size: 20px;
    line-height: 25px;
    padding-top: 0px; }
  .work .work-button {
    padding-bottom: 50px; }
    .work .work-button h2 {
      font-size: 14px;
      height: 50px;
      width: 180px;
      padding-top: 15px; }
  .work .eone-section, .work .thoughtspot-section {
    width: 100%;
    padding: 10px; }
    .work .eone-section .eone-info h4, .work .eone-section .thoughtspot-info h4, .work .thoughtspot-section .eone-info h4, .work .thoughtspot-section .thoughtspot-info h4 {
      margin-bottom: 5px;
      font-size: 25px;
      font-weight: 500; }
    .work .eone-section .eone-info p, .work .eone-section .thoughtspot-info p, .work .thoughtspot-section .eone-info p, .work .thoughtspot-section .thoughtspot-info p {
      font-size: 15px;
      line-height: 18px; }
    .work .eone-section .eone-info .buttons, .work .eone-section .thoughtspot-info .buttons, .work .thoughtspot-section .eone-info .buttons, .work .thoughtspot-section .thoughtspot-info .buttons {
      padding-bottom: 20px; }
      .work .eone-section .eone-info .buttons ul li a, .work .eone-section .thoughtspot-info .buttons ul li a, .work .thoughtspot-section .eone-info .buttons ul li a, .work .thoughtspot-section .thoughtspot-info .buttons ul li a {
        font-size: 14px;
        padding: 3px; }
  .work .dual-section-1, .work .dual-section-2 {
    gap: 50px;
    display: inline; }
    .work .dual-section-1 .pilot-section, .work .dual-section-1 .enode-section, .work .dual-section-1 .creatd-section, .work .dual-section-1 .crisp-section, .work .dual-section-2 .pilot-section, .work .dual-section-2 .enode-section, .work .dual-section-2 .creatd-section, .work .dual-section-2 .crisp-section {
      width: 100%;
      padding: 20px; }
      .work .dual-section-1 .pilot-section .pilot-info h4, .work .dual-section-1 .pilot-section .enode-info h4, .work .dual-section-1 .pilot-section .creatd-info h4, .work .dual-section-1 .pilot-section .crisp-info h4, .work .dual-section-1 .enode-section .pilot-info h4, .work .dual-section-1 .enode-section .enode-info h4, .work .dual-section-1 .enode-section .creatd-info h4, .work .dual-section-1 .enode-section .crisp-info h4, .work .dual-section-1 .creatd-section .pilot-info h4, .work .dual-section-1 .creatd-section .enode-info h4, .work .dual-section-1 .creatd-section .creatd-info h4, .work .dual-section-1 .creatd-section .crisp-info h4, .work .dual-section-1 .crisp-section .pilot-info h4, .work .dual-section-1 .crisp-section .enode-info h4, .work .dual-section-1 .crisp-section .creatd-info h4, .work .dual-section-1 .crisp-section .crisp-info h4, .work .dual-section-2 .pilot-section .pilot-info h4, .work .dual-section-2 .pilot-section .enode-info h4, .work .dual-section-2 .pilot-section .creatd-info h4, .work .dual-section-2 .pilot-section .crisp-info h4, .work .dual-section-2 .enode-section .pilot-info h4, .work .dual-section-2 .enode-section .enode-info h4, .work .dual-section-2 .enode-section .creatd-info h4, .work .dual-section-2 .enode-section .crisp-info h4, .work .dual-section-2 .creatd-section .pilot-info h4, .work .dual-section-2 .creatd-section .enode-info h4, .work .dual-section-2 .creatd-section .creatd-info h4, .work .dual-section-2 .creatd-section .crisp-info h4, .work .dual-section-2 .crisp-section .pilot-info h4, .work .dual-section-2 .crisp-section .enode-info h4, .work .dual-section-2 .crisp-section .creatd-info h4, .work .dual-section-2 .crisp-section .crisp-info h4 {
        margin-bottom: 5px;
        font-size: 25px;
        font-weight: 500; }
      .work .dual-section-1 .pilot-section .pilot-info p, .work .dual-section-1 .pilot-section .enode-info p, .work .dual-section-1 .pilot-section .creatd-info p, .work .dual-section-1 .pilot-section .crisp-info p, .work .dual-section-1 .enode-section .pilot-info p, .work .dual-section-1 .enode-section .enode-info p, .work .dual-section-1 .enode-section .creatd-info p, .work .dual-section-1 .enode-section .crisp-info p, .work .dual-section-1 .creatd-section .pilot-info p, .work .dual-section-1 .creatd-section .enode-info p, .work .dual-section-1 .creatd-section .creatd-info p, .work .dual-section-1 .creatd-section .crisp-info p, .work .dual-section-1 .crisp-section .pilot-info p, .work .dual-section-1 .crisp-section .enode-info p, .work .dual-section-1 .crisp-section .creatd-info p, .work .dual-section-1 .crisp-section .crisp-info p, .work .dual-section-2 .pilot-section .pilot-info p, .work .dual-section-2 .pilot-section .enode-info p, .work .dual-section-2 .pilot-section .creatd-info p, .work .dual-section-2 .pilot-section .crisp-info p, .work .dual-section-2 .enode-section .pilot-info p, .work .dual-section-2 .enode-section .enode-info p, .work .dual-section-2 .enode-section .creatd-info p, .work .dual-section-2 .enode-section .crisp-info p, .work .dual-section-2 .creatd-section .pilot-info p, .work .dual-section-2 .creatd-section .enode-info p, .work .dual-section-2 .creatd-section .creatd-info p, .work .dual-section-2 .creatd-section .crisp-info p, .work .dual-section-2 .crisp-section .pilot-info p, .work .dual-section-2 .crisp-section .enode-info p, .work .dual-section-2 .crisp-section .creatd-info p, .work .dual-section-2 .crisp-section .crisp-info p {
        font-size: 15px;
        line-height: 18px; }
      .work .dual-section-1 .pilot-section .pilot-info .buttons, .work .dual-section-1 .pilot-section .enode-info .buttons, .work .dual-section-1 .pilot-section .creatd-info .buttons, .work .dual-section-1 .pilot-section .crisp-info .buttons, .work .dual-section-1 .enode-section .pilot-info .buttons, .work .dual-section-1 .enode-section .enode-info .buttons, .work .dual-section-1 .enode-section .creatd-info .buttons, .work .dual-section-1 .enode-section .crisp-info .buttons, .work .dual-section-1 .creatd-section .pilot-info .buttons, .work .dual-section-1 .creatd-section .enode-info .buttons, .work .dual-section-1 .creatd-section .creatd-info .buttons, .work .dual-section-1 .creatd-section .crisp-info .buttons, .work .dual-section-1 .crisp-section .pilot-info .buttons, .work .dual-section-1 .crisp-section .enode-info .buttons, .work .dual-section-1 .crisp-section .creatd-info .buttons, .work .dual-section-1 .crisp-section .crisp-info .buttons, .work .dual-section-2 .pilot-section .pilot-info .buttons, .work .dual-section-2 .pilot-section .enode-info .buttons, .work .dual-section-2 .pilot-section .creatd-info .buttons, .work .dual-section-2 .pilot-section .crisp-info .buttons, .work .dual-section-2 .enode-section .pilot-info .buttons, .work .dual-section-2 .enode-section .enode-info .buttons, .work .dual-section-2 .enode-section .creatd-info .buttons, .work .dual-section-2 .enode-section .crisp-info .buttons, .work .dual-section-2 .creatd-section .pilot-info .buttons, .work .dual-section-2 .creatd-section .enode-info .buttons, .work .dual-section-2 .creatd-section .creatd-info .buttons, .work .dual-section-2 .creatd-section .crisp-info .buttons, .work .dual-section-2 .crisp-section .pilot-info .buttons, .work .dual-section-2 .crisp-section .enode-info .buttons, .work .dual-section-2 .crisp-section .creatd-info .buttons, .work .dual-section-2 .crisp-section .crisp-info .buttons {
        padding-bottom: 20px; }
        .work .dual-section-1 .pilot-section .pilot-info .buttons ul li a, .work .dual-section-1 .pilot-section .enode-info .buttons ul li a, .work .dual-section-1 .pilot-section .creatd-info .buttons ul li a, .work .dual-section-1 .pilot-section .crisp-info .buttons ul li a, .work .dual-section-1 .enode-section .pilot-info .buttons ul li a, .work .dual-section-1 .enode-section .enode-info .buttons ul li a, .work .dual-section-1 .enode-section .creatd-info .buttons ul li a, .work .dual-section-1 .enode-section .crisp-info .buttons ul li a, .work .dual-section-1 .creatd-section .pilot-info .buttons ul li a, .work .dual-section-1 .creatd-section .enode-info .buttons ul li a, .work .dual-section-1 .creatd-section .creatd-info .buttons ul li a, .work .dual-section-1 .creatd-section .crisp-info .buttons ul li a, .work .dual-section-1 .crisp-section .pilot-info .buttons ul li a, .work .dual-section-1 .crisp-section .enode-info .buttons ul li a, .work .dual-section-1 .crisp-section .creatd-info .buttons ul li a, .work .dual-section-1 .crisp-section .crisp-info .buttons ul li a, .work .dual-section-2 .pilot-section .pilot-info .buttons ul li a, .work .dual-section-2 .pilot-section .enode-info .buttons ul li a, .work .dual-section-2 .pilot-section .creatd-info .buttons ul li a, .work .dual-section-2 .pilot-section .crisp-info .buttons ul li a, .work .dual-section-2 .enode-section .pilot-info .buttons ul li a, .work .dual-section-2 .enode-section .enode-info .buttons ul li a, .work .dual-section-2 .enode-section .creatd-info .buttons ul li a, .work .dual-section-2 .enode-section .crisp-info .buttons ul li a, .work .dual-section-2 .creatd-section .pilot-info .buttons ul li a, .work .dual-section-2 .creatd-section .enode-info .buttons ul li a, .work .dual-section-2 .creatd-section .creatd-info .buttons ul li a, .work .dual-section-2 .creatd-section .crisp-info .buttons ul li a, .work .dual-section-2 .crisp-section .pilot-info .buttons ul li a, .work .dual-section-2 .crisp-section .enode-info .buttons ul li a, .work .dual-section-2 .crisp-section .creatd-info .buttons ul li a, .work .dual-section-2 .crisp-section .crisp-info .buttons ul li a {
          font-size: 14px;
          padding: 3px; }

  .approuch-article-parrent .approuch-section h2 {
    font-size: 22px; }
  .approuch-article-parrent .approuch-section p {
    font-size: 28px; }
  .approuch-article-parrent .approuch-section .approuch-video-info {
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px; }
    .approuch-article-parrent .approuch-section .approuch-video-info .approuch-info p {
      font-size: 18px;
      line-height: 22px; }
    .approuch-article-parrent .approuch-section .approuch-video-info .approuch-info .approuch-button {
      margin-left: 20px;
      margin-top: 40px; }
      .approuch-article-parrent .approuch-section .approuch-video-info .approuch-info .approuch-button h2 {
        font-size: 14px;
        height: 40px;
        width: 140px;
        padding-top: 12px; }
  .approuch-article-parrent .articles-section h1 {
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 50px; }
  .approuch-article-parrent .articles-section p {
    font-size: 18px;
    padding-top: 60px;
    line-height: 22px;
    padding-left: 20px;
    padding-bottom: 50px; }
  .approuch-article-parrent .articles-section .article-button {
    padding-bottom: 50px;
    padding-left: 20px; }
    .approuch-article-parrent .articles-section .article-button h2 {
      font-size: 14px;
      height: 40px;
      width: 140px;
      padding-top: 12px; }
  .approuch-article-parrent .articles-section ul {
    flex-wrap: wrap; }
    .approuch-article-parrent .articles-section ul .Design {
      padding: 10px; }
      .approuch-article-parrent .articles-section ul .Design h5 {
        margin-bottom: 18px; }
      .approuch-article-parrent .articles-section ul .Design p {
        font-size: 15px; }
    .approuch-article-parrent .articles-section ul .ux-strategy, .approuch-article-parrent .articles-section ul .value-services {
      padding: 10px; }
      .approuch-article-parrent .articles-section ul .ux-strategy h5, .approuch-article-parrent .articles-section ul .value-services h5 {
        margin-bottom: 18px; }
      .approuch-article-parrent .articles-section ul .ux-strategy p, .approuch-article-parrent .articles-section ul .value-services p {
        font-size: 15px; }

  .footer .footer-info h2 {
    font-size: 22px; }
  .footer .footer-info p {
    font-size: 28px; }
  .footer .footer-info .footer-button h2 {
    font-size: 14px;
    height: 50px;
    width: 180px;
    padding-top: 15px; }

  .footer-links {
    padding-bottom: 100px; }
    .footer-links .footer-logo-section h1 {
      font-size: 26px;
      margin-bottom: 20px; }
    .footer-links .footer-logo-section span {
      font-size: 30px; }
    .footer-links .footer-links-section {
      flex-direction: column;
      gap: 20px; }
      .footer-links .footer-links-section ul li {
        margin-bottom: 5px; }
        .footer-links .footer-links-section ul li a {
          font-size: 15px; } }

/*# sourceMappingURL=queries.css.map */
